@model SEDC.AspNet.Mvc.Homework.Class02.Models.OrderModel

@{
    ViewData["Title"] = "CreateOrder";
}

<h1>CreateOrder</h1>

<h4>OrderModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateOrder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PizzaName" class="control-label"></label>
                <input asp-for="PizzaName" class="form-control" />
                <span asp-validation-for="PizzaName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PizzaSize" class="control-label"></label>
                <input asp-for="PizzaSize" class="form-control" />
                <span asp-validation-for="PizzaSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
